@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Jost', sans-serif;
    /* background-color: black; */
}


/* login css */

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sign-up-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    margin-bottom: 25px;
    background: #d816c8;
    color: white;
  }
  
  button:hover {
    background-color: #2980b9;
    color: white;
}



